body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    padding: 50px;
    text-align: center;
    background: #535252;
    color: white;
}

/* Increase the font size of the h1 element */
.header h1 {
    font-size: 50px;
    font-family: 'Times New Roman';
}

.header h2 {
    font-size: 30px;
    font-family: sans-serif;
}

.last_updated {
    text-align: left;
    margin-bottom: -40px;
    margin-left: -20px;
    font-size: x-small;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    /* Hide overflow */
    background-color: #333;
    /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
    float: right;
    /* Make sure that the links stay side-by-side */
    display: block;
    /* Change the display to block*/
    color: white;
    /* White text color */
    text-align: center;
    /* Center the text */
    padding: 14px 20px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline */
}

/* Left-aligned link */
.navbar a.left {
    float: left;
    /* Float a link to the left */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd;
    /* Grey background color */
    color: black;
    /* Black text color */
}

/* Ensure proper sizing */
* {
    box-sizing: border-box;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    /* Set the width of the sidebar */
    background-color: #f1f1f1;
    /* Grey background color */
    padding: 20px;
    /* Some padding */
}

.side p {
    text-align: justify;
    text-indent: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.block-display {
    display: inline-block;
}

.side h2,
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.side a:link {
    color: #4d4d4d;
    background-color: transparent;
    text-decoration: none;
}

.side a:visited {
    color: #4d4d4d;
    background-color: transparent;
    text-decoration: none;
}

.side a:hover {
    color: #333;
    background-color: transparent;
    text-decoration: underline;
}

.side a:active {
    color: #4d4d4d;
    background-color: transparent;
    text-decoration: none;
}

#compress {
    display: none;
}

#toggleButton {
    font-weight: bold;
}

/* Main column */
.main {
    flex: 70%;
    /* Set the width of the main content */
    background-color: #fdfdfd;
    /* White background color */
    padding: 20px;
    /* Some padding */
}

.main h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main a:link {
    color: #4d4d4d;
    background-color: transparent;
    text-decoration: none;
}

.main a:visited {
    color: #4d4d4d;
    background-color: transparent;
    text-decoration: none;
}

.main a:hover {
    color: #333;
    background-color: transparent;
    text-decoration: underline;
}

main a:active {
    color: #4d4d4d;
    background-color: transparent;
    text-decoration: none;
}

.university {
    text-indent: 20px;
}

.university p {
    text-indent: 40px;
}

.university h4 {
    text-indent: 40px;
}

.float-right {
    float: right;
}

.company {
    text-indent: 20px;
}

.company h4 {
    text-indent: 40px;
}

.company ul {
    padding-left: 70px;
}


li span {
    position: relative;
    left: -20px;
}

.company li {
    text-align: justify;
    text-justify: inter-word;
}

/* Profile pic */
.profileimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: contain;
    border-radius: 80%;    
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.footer {
    padding: 20px;
    text-align: left;
    background: #ddd;
    display: flex;
    flex-wrap: wrap;
}

.about {
    flex: 50%;
    padding: 20px;
    text-align: justify;
    color: #333;
}

.about p a:link {
    text-decoration: none;
    color: black;
}

.about p a:visited {
    text-decoration: none;
    color: black;
}

.contact {
    flex: 50%;
    padding: 20px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: #4d4d4d;
    border-radius: 100px;
    color: #ddd;
    line-height: 0;
    margin: 10px;
    font-size: 1rem;
    padding: 0 1.3em;
    text-decoration: none;
    float: left;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    max-width: max-content;
    background-color: #4d4d4d;
    border-radius: 100px;
    color: ivory;
    line-height: 0;
    margin: 5px;
    font-size: 0.9rem;
    padding: 0.8em 0.8em;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

a.external[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0px 3px 0px 5px;
    /* Refer: https://endurtech.com/css-icon-for-links-that-open-new-window-for-web-accessibility/*/
}